.project-holder {
	width: 20%;
	min-height: 200px;
	height: 100%;
	background-color: hsl(0, 77%, 71%);
}

.project-form,
.projects-title,
.project-name {
	margin: 10px;
}

.project-name {
	font-size: 16px;
}